.css-Xwdfb {
    overflow-x: hidden
}

.css-jbDl0 {
    display: flex;
    flex-wrap: wrap;
    gap: 66px;
    justify-content: center;
    margin-top: 74px
}

@media (min-width: 576px) {
    .css-jbDl0 {
        gap: 58px 19px
    }
}

@media (min-width: 768px) {
    .css-jbDl0 {
        margin-top: 101px
    }
}

.css-r6tHJ {
    padding-top: 300px;
    position: relative;
    z-index: 5
}

@media (min-width: 1200px) {
    .css-r6tHJ {
        padding-top: 170px
    }
}

.css-YMRJm {
    margin: 24px auto 0;
    max-width: 600px
}

.css-YMRJm p {
    color: var(--white);
    font-size: 16px
}

@media screen and (min-width: 375px) {
    .css-YMRJm p {
        font-size: calc(15.69388px + .08163vw)
    }
}

@media screen and (min-width: 1600px) {
    .css-YMRJm p {
        font-size: 17px
    }
}

@media (min-width: 1024px) {
    .css-YMRJm {
        margin-top: 20px
    }
}

.css-izdH7 {
    margin: 28px auto 0;
    max-width: 736px
}

.css-izdH7 a {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.css-izdH7 p {
    color: var(--white);
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.6470588235
}

@media (min-width: 768px) {
    .css-izdH7 {
        margin-top: 56px
    }
}

.css-vzJ4G {
    color: var(--white);
    display: inline-block;
    font-size: 21px;
    padding: 0 30px;
    position: relative;
    text-shadow: 0 0 40px rgba(0, 0, 0, .5);
    text-transform: uppercase
}

@media screen and (min-width: 375px) {
    .css-vzJ4G {
        font-size: calc(14.57143px + 1.71429vw)
    }
}

@media screen and (min-width: 1600px) {
    .css-vzJ4G {
        font-size: 42px
    }
}

.css-vzJ4G:after, .css-vzJ4G:before {
    border: 1px solid var(--white);
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px
}

@media (min-width: 1024px) {
    .css-vzJ4G:after, .css-vzJ4G:before {
        width: 40px
    }
}

.css-vzJ4G:after {
    right: 0
}

.css-vzJ4G:before {
    left: 0
}

@media (min-width: 1024px) {
    .css-vzJ4G {
        padding: 0 70px
    }
}

.css-xyvUr {
    padding-bottom: 100px;
    position: relative;
    z-index: 1
}

.css-xyvUr:before {
    background: radial-gradient(#54dfef, transparent 70%);
    content: "";
    height: 50%;
    left: 50%;
    position: absolute;
    top: -10%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 0
}

.css-ruKym {
    background: var(--off-white);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .4);
    padding: 42px
}

@media (min-width: 768px) {
    .css-ruKym {
        flex: 0 0 calc(50% - 30px)
    }
}

@media (min-width: 1024px) {
    .css-ruKym {
        flex: 0 0 calc(33.33333% - 40px);
        padding: 55px
    }
}

.css-BBBlj {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 64px
}

@media (min-width: 1024px) {
    .css-BBBlj {
        gap: 40px;
        margin-top: 89px
    }
}

.css-fHro- {
    margin-top: 15px
}

.css-fHro- p {
    font-size: 1.0625rem;
    font-weight: 500
}

@media (min-width: 1024px) {
    .css-fHro- {
        margin-top: 20px
    }
}

.css-LXt5M {
    font-size: 1.3125rem;
    margin-top: 42px;
    text-transform: uppercase
}

@media (min-width: 1024px) {
    .css-LXt5M {
        margin-top: 55px
    }
}

.css-BWGs5 {
    bottom: -280px;
    height: 494px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 5
}

@media (min-width: 1200px) {
    .css-BWGs5 {
        aspect-ratio: 510/708;
        bottom: -170px;
        height: 708px;
        left: auto;
        max-width: 436px;
        -o-object-fit: contain;
        object-fit: contain;
        right: -13%;
        transform: none;
        width: 30%
    }
}

.css-XVYbP {
    padding-bottom: 275px;
    padding-top: 50px;
    position: relative
}

@media (min-width: 1200px) {
    .css-XVYbP {
        margin: 0 5%;
        padding-bottom: 120px;
        padding-top: 0
    }
}

.css-hKRXj {
    margin-top: 40px
}

@media (min-width: 768px) {
    .css-hKRXj {
        margin-top: 77px
    }
}

.css-3HnKb {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: -1
}

@media (min-width: 1024px) {
    .css-3HnKb {
        left: 0;
        transform: none
    }
}

.css-R7mvu {
    color: var(--earthy-500);
    font-family: var(--heading-font-family);
    font-size: 21px;
    letter-spacing: .2em;
    line-height: 1.3095238095;
    text-transform: uppercase
}

@media screen and (min-width: 375px) {
    .css-R7mvu {
        font-size: calc(14.57143px + 1.71429vw)
    }
}

@media screen and (min-width: 1600px) {
    .css-R7mvu {
        font-size: 42px
    }
}

.css-mInTf {
    align-content: center;
    display: grid;
    justify-content: center;
    max-width: 75px;
    place-content: center
}

.css-mInTf, .css-wiUCu {
    aspect-ratio: 1;
    width: 50%
}

.css-wiUCu {
    align-items: center;
    background: linear-gradient(#43bef7, #10698c);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 155px;
    position: relative;
    z-index: 1
}

.css-wiUCu:before {
    aspect-ratio: 1;
    background: #67d4e7;
    border-radius: inherit;
    content: "";
    left: 50%;
    padding: 7px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 14px);
    z-index: -1
}

.css-rDxNg {
    display: inline-block;
    padding: 0 36px;
    position: relative
}

.css-rDxNg:after, .css-rDxNg:before {
    border: 1px solid var(--earthy-500);
    content: "";
    position: absolute;
    top: 50%;
    width: 20px
}

@media (min-width: 1024px) {
    .css-rDxNg:after, .css-rDxNg:before {
        width: 40px
    }
}

.css-rDxNg:after {
    right: 5px
}

.css-rDxNg:before {
    left: 5px
}

@media (min-width: 1024px) {
    .css-rDxNg {
        padding: 0 56px
    }
}

.css-Q8Kso {
    display: flex;
    justify-content: center
}

.css-39ckd {
    align-content: center;
    display: grid;
    justify-content: center;
    min-height: 710px;
    place-content: center;
    position: relative
}

.css-Z\+MTy {
    margin: auto;
    max-width: 950px;
    position: relative
}

.css-UiP78 {
    color: var(--white);
    font-size: 16px;
    margin: 20px auto 0;
    max-width: 520px
}

@media screen and (min-width: 375px) {
    .css-UiP78 {
        font-size: calc(14.46939px + .40816vw)
    }
}

@media screen and (min-width: 1600px) {
    .css-UiP78 {
        font-size: 21px
    }
}

@media (min-width: 1024px) {
    .css-UiP78 {
        margin-top: 30px
    }
}

.css-lLmnV {
    margin: 36px auto 0
}

@media (min-width: 1024px) {
    .css-lLmnV {
        margin-top: 46px
    }
}

.css-\+K\+cG {
    border-top: 1px solid var(--white);
    display: inline-block;
    margin-top: 21px;
    width: 40px
}

@media (min-width: 1024px) {
    .css-\+K\+cG {
        margin-top: 23px
    }
}

.css-o9q3y img {
    bottom: 10%;
    left: 5%;
    max-width: 300px;
    position: absolute;
    width: 40%
}

@media (min-width: 768px) {
    .css-o9q3y img {
        width: 30%
    }
}

@media (min-width: 1024px) {
    .css-o9q3y img {
        bottom: 13%;
        left: auto;
        right: 25%;
        width: 15%
    }
}

.css-b1pIQ img {
    max-width: 175px;
    position: absolute;
    right: 0;
    top: 7%;
    width: 35%
}

@media (min-width: 1024px) {
    .css-b1pIQ img {
        bottom: 15%;
        left: 10%;
        max-width: 380px;
        right: auto;
        top: auto;
        width: 25%
    }
}

@media (min-width: 1920px) {
    .css-b1pIQ img {
        bottom: 10%
    }
}

.css-gCQD5 {
    color: var(--white);
    font-size: 35px;
    letter-spacing: .1em;
    text-shadow: 0 0 20px #fff
}

@media screen and (min-width: 375px) {
    .css-gCQD5 {
        font-size: calc(20.61224px + 3.83673vw)
    }
}

@media screen and (min-width: 1600px) {
    .css-gCQD5 {
        font-size: 82px
    }
}

.css-gsPi7 img {
    bottom: 0;
    max-width: 220px;
    position: absolute;
    right: 0;
    width: 55%
}

@media (min-width: 1024px) {
    .css-gsPi7 img {
        max-width: 460px;
        right: 0;
        width: 26%
    }
}

@media (min-width: 1920px) {
    .css-gsPi7 img {
        width: 30%
    }
}

.css-uHuT- img {
    left: 5%;
    max-width: 195px;
    position: absolute;
    top: 2%;
    width: 40%
}

@media (min-width: 1024px) {
    .css-uHuT- img {
        left: 2%;
        max-width: 330px;
        top: 5%;
        width: 17%
    }
}

@media (min-width: 1920px) {
    .css-uHuT- img {
        top: 18%;
        width: 50%
    }
}

.css-swJqa {
    padding-bottom: 140px;
    position: relative
}

@media (min-width: 1024px) {
    .css-swJqa {
        padding-bottom: 205px
    }
}

.css-Ql85X {
    border: 10px solid var(--border-color);
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    line-height: 1.75;
    max-width: 440px;
    padding: 80px 20px 0;
    position: relative;
    z-index: 1
}

.css-Ql85X:before {
    background: url(/assets/img/world-of-wonders-clouds.jpg) no-repeat;
    background-position: 0;
    background-size: cover;
    border-radius: 20px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

@media (min-width: 768px) {
    .css-Ql85X {
        flex: 0 0 calc(50% - 19px);
        padding: 70px 45px 0
    }
}

@media (min-width: 1024px) {
    .css-Ql85X {
        flex: 0 0 calc(33.33333% - 19px)
    }
}

.css-etiFC {
    margin-top: 7px
}

.css-etiFC p {
    font-size: 1.0625rem;
    font-weight: 500
}

@media (min-width: 768px) {
    .css-etiFC {
        margin-top: 9px
    }
}

.css-mjAjw {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase
}

@media screen and (min-width: 375px) {
    .css-mjAjw {
        font-size: calc(16.16327px + .4898vw)
    }
}

@media screen and (min-width: 1600px) {
    .css-mjAjw {
        font-size: 24px
    }
}

.css-mctus {
    bottom: auto;
    bottom: 0;
    height: 100%;
    left: auto;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain;
    right: auto;
    top: auto;
    width: 100%
}

.css-mctus, .css-9MvCx {
    position: absolute
}

.css-9MvCx {
    right: -15px;
    top: -15px;
    z-index: 10
}

@media (min-width: 768px) {
    .css-9MvCx {
        right: -30px;
        top: -30px
    }
}

.css-Gf0as {
    aspect-ratio: 70/86;
    left: 50%;
    position: absolute;
    top: -40px;
    transform: translateX(-50%);
    width: 70px;
    z-index: 1
}

.css-rGerk {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 450px;
    width: 90%
}

.css-qEk8A {
    max-height: 90%;
    position: relative;
    width: 100%
}

.css-skG3e {
    aspect-ratio: 420/562;
    border-radius: 30px;
    filter: drop-shadow(0 4px 30px rgba(0, 0, 0, .4));
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.css-MDFYW {
    align-content: center;
    aspect-ratio: 1;
    background: var(--sky-blue);
    border-top-right-radius: 20px;
    display: grid;
    height: 50px;
    justify-content: center;
    place-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 0
}

.css-MDFYW svg {
    height: 25px;
    width: 20px
}

.css-q11LK {
    border-radius: 20px;
    bottom: 0;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .75s;
    width: 100%;
    z-index: 0
}

.css-q11LK.css-k3DIH {
    opacity: 1
}


.css-3AtAI {
    margin: 124px auto 0;
    max-width: 850px;
    padding-bottom: 150px;
    position: relative;
    width: 100%
}

@media (min-width: 768px) {
    .css-3AtAI {
        padding-bottom: 50px;
        padding-right: 140px;
        text-align: left
    }
}

@media (min-width: 900px) {
    .css-3AtAI {
        padding-bottom: 100px
    }
}

@media (min-width: 1024px) {
    .css-3AtAI {
        padding-bottom: 154px
    }
}

.css-1\+rV6 {
    bottom: -25px;
    left: 50%;
    max-width: 315px;
    position: absolute;
    transform: translateX(-50%);
    width: 90%
}

@media (min-width: 768px) {
    .css-1\+rV6 {
        bottom: auto;
        left: auto;
        max-width: 385px;
        right: 0;
        top: 0;
        transform: none
    }
}

@media (min-width: 900px) {
    .css-1\+rV6 {
        max-width: 480px;
        right: -80px
    }
}

@media (min-width: 1024px) {
    .css-1\+rV6 {
        max-width: 508px
    }
}

.css-gM-ys {
    margin-top: 10px
}

.css-gM-ys p {
    font-size: 1.0625rem;
    line-height: 1.6470588235
}

@media (min-width: 768px) {
    .css-gM-ys {
        margin-top: 20px;
        max-width: 403px
    }
}

.css-4aCck {
    margin-top: 26px
}

@media (min-width: 768px) {
    .css-4aCck {
        margin-top: 39px;
        min-width: 283px
    }
}

.css-iS4We {
    font-size: 24px;
    font-weight: 900;
    line-height: .7619047619
}

@media screen and (min-width: 375px) {
    .css-iS4We {
        font-size: calc(18.4898px + 1.46939vw)
    }
}

@media screen and (min-width: 1600px) {
    .css-iS4We {
        font-size: 42px
    }
}

.css-YdFwA {
    background: var(--off-white);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .4);
    padding: 77px 13px 206px
}

@media (min-width: 768px) {
    .css-YdFwA {
        padding: 90px 105px 65px 75px
    }
}

.css-UZpTh {
    overflow: hidden;
    position: relative;
    width: 100%
}

.css-UZpTh > * {
    height: auto;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.css-UZpTh picture img {
    height: 100%;
    width: 100%
}

.css-UZpTh > embed, .css-UZpTh > iframe, .css-UZpTh > video {
    height: 100%
}


.css-RIC6U {
    background-color: var(--sun-kissed-paper)
}

.css-scrKY {
    min-height: 6em;
    padding: 1.5em 0 0
}

.css-du9OL {
    display: flex;
    margin: 0 0 .5em
}

.css-RIC6U .css-cUUOp {
    display: grid;
    padding-bottom: 3em
}

@media (min-width: 1024px) {
    .css-RIC6U .css-cUUOp {
        gap: 3em;
        grid-template-columns:1fr 390px
    }
}

.css-YVbG4 {
    max-width: 856px;
    max-width: var(--article-body-mw, 856px)
}

.css-cvK8p {
    border-bottom: 1px solid #e4dbd0;
    border-top: 1px solid #e4dbd0;
    padding: 40px 0 20px
}

.css-cvK8p > * {
    margin: 0 0 15px
}

.css-cvK8p a {
    color: var(--sky-blue);
    font-weight: 700
}

.css-cvK8p a:focus, .css-cvK8p a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.css-cvK8p blockquote > p {
    color: inherit;
    color: var(--earthy-500);
    font-size: 18px;
    font-weight: 700;
    text-align: center
}

@media screen and (min-width: 375px) {
    .css-cvK8p blockquote > p {
        font-size: calc(17.38776px + .16327vw)
    }
}

@media screen and (min-width: 1600px) {
    .css-cvK8p blockquote > p {
        font-size: 20px
    }
}

.css-cvK8p iframe {
    aspect-ratio: 16/9;
    height: auto
}

.css-cvK8p iframe, .css-cvK8p img {
    max-width: 100%
}

.css-cvK8p img[src*="#center"] {
    display: block;
    margin: 0 auto
}

.css-cvK8p h1, .css-cvK8p h2, .css-cvK8p h3, .css-cvK8p h4, .css-cvK8p h5, .css-cvK8p h6 {
    margin: 0 0 15px
}

.css-cvK8p h2 {
    color: #594f42;
    color: var(--article-h2-color, var(--earthy-500, #594f42));
    font-family: var(--article-h2-ff, var(--heading-font-family));
    font-size: 29px;
    font-size: var(--article-h2-fs, 29px);
    font-weight: 900;
    font-weight: var(--article-h2-fw, 900)
}

.css-cvK8p h3 {
    color: #1e9de8;
    color: var(--article-h3-color, var(--sky-blue, #1e9de8));
    font-family: var(--article-h3-ff, var(--base-font-family));
    font-size: 17px;
    font-size: var(--article-h3-fs, 17px);
    font-weight: 700;
    font-weight: var(--article-h3-fw, 700)
}

.css-cvK8p p, .css-cvK8p ul {
    color: #594f42;
    color: var(--article-p-color, var(--earthy-500, #594f42));
    font-family: var(--article-p-ff, var(--base-font-family));
    font-size: 16px;
    font-size: var(--article-p-fs, 16px);
    font-weight: 600;
    font-weight: var(--article-p-fw, 600);
    line-height: 1.5882352941
}

.css-cvK8p .columns-2, .css-cvK8p .columns-2-small-1-large, .css-cvK8p .columns-3 {
    grid-gap: .5em;
    display: grid;
    gap: .5em
}

@media (min-width: 768px) {
    .css-cvK8p .columns-2, .css-cvK8p .columns-2-small-1-large {
        grid-template-columns:repeat(2, 1fr)
    }
}

@media (min-width: 768px) {
    .css-cvK8p .columns-2-small-1-large > :nth-child(odd):last-child {
        grid-column: span 2
    }
}

@media (min-width: 768px) {
    .css-cvK8p .columns-3 {
        grid-template-columns:repeat(3, 1fr)
    }
}

.css-RR3MW {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: .625rem;
    max-width: var(--max-width-body);
    padding: .5em 0 1.5em
}

.css-RR3MW .css--0D8k {
    flex: 0 0 auto;
    width: 100%
}

@media (min-width: 576px) {
    .css-RR3MW .css--0D8k {
        flex: 0 1 auto;
        width: auto
    }
}

@media (min-width: 1024px) {
    .css-RR3MW {
        padding: 1.5em 0
    }
}

.css-5sOUU {
    margin-bottom: 6em
}

.css-D9zpK:focus, .css-D9zpK:hover {
    color: var(--sky-blue)
}

.css-D9zpK:focus > svg > path, .css-D9zpK:hover > svg > path {
    fill: var(--sky-blue)
}

.css-9cjiQ {
    grid-gap: 40px;
    display: grid;
    gap: 40px;
    padding: 40px 0;
    position: relative
}

.css-7xX2W {
    align-items: flex-end;
    border-bottom: 1px solid #e4dbd0;
    display: flex;
    min-height: 6em;
    padding: 1.5em 0
}

.css-7xX2W > * {
    font-size: 18px;
    letter-spacing: .5em;
    text-transform: uppercase
}
